@page
@model ContractingUI.Pages.IndexModel

@{
    ViewData["Title"] = "Index";
}

<h1>Find Contracts</h1>

<form>
    <p>
      
        Last Name: <input type="text" asp-for="LastNameSearch" />
        <input type="submit" value="Last Name Filter"  />
    </p>
</form>
<form>
    <p>

        Start: <input type="date" asp-for="StartDateSearch" /> End: <input type="date" asp-for="EndDateSearch" />
        <input type="submit" value="Date Range Filter"  />
    </p>
</form>
<form>
    <p>

       <input type="submit" value="Reset Filter"   />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ContractHighlights[0].ContractNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContractHighlights[0].Description)
            </th>
         
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ContractHighlights)
        {
            <input type="hidden" asp-for="@item.KeyValue" />
        <tr>
                <td>
                    <a asp-page="./Details" asp-route-id="@item.KeyValue"> @Html.DisplayFor(modelItem => item.ContractNumber)</a>
                </td>
            <td>
                     @Html.DisplayFor(modelItem => item.Description)
            </td>
          
       
         
        </tr>
}
    </tbody>
</table>
