@page
@model ContractingUI.Pages.Index1Model

@{
    ViewData["Title"] = "Index FLEX";
}

<h1 style="color: red;">Find Contracts FLEX</h1>

<form method="post">
    <p>
        Last Name: <input type="text" asp-for="LastNameSearch" />
          Start: <input type="date" asp-for="StartDateSearch" /> End: <input type="date" asp-for="EndDateSearch" />
         <input type="submit" value="Filter" asp-page-handler="Filter" />
    </p>
    <p>
        <input type="submit" value="Reset Filter" asp-page-handler="ResetFilter" />
    </p>
</form>
<table class="table">
    <thead>
        <tr>
            <th>
                @Html.DisplayNameFor(model => model.ContractHighlights[0].ContractNumber)
            </th>
            <th>
                @Html.DisplayNameFor(model => model.ContractHighlights[0].Description)
            </th>
         
            <th></th>
        </tr>
    </thead>
    <tbody>
        @foreach (var item in Model.ContractHighlights)
        {
            <input type="hidden" asp-for="@item.KeyValue" />
        <tr>
                <td>
                    <a asp-page="./Details" asp-route-id="@item.KeyValue"> @Html.DisplayFor(modelItem => item.ContractNumber)</a>
                </td>
            <td>
                     @Html.DisplayFor(modelItem => item.Description)
            </td>
          
       
         
        </tr>
}
    </tbody>
</table>

